{% extends 'index.html' %}
{% block itemlist %}
<ul class="list-group list-group-flush">
                    {% for item in items%}
                    <li class="list-group-item
                    list-group-item-action">
                        {{item.name}}
                        <span class="float-right">
                            <a href="#" class="text-secondary"><i class="fas fa-edit"></i></a>
                            <a href="{{item.del_url}}" class="text-secondary"><i class="fas fa-trash"></i></a>
                        </span>
                    </li>
                    {% endfor %}
                </ul>
{% endblock %}
